.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(#c5c3cd, rgba(12, 12, 12, 0.2));
}
.calc-wrapper {
  width: 400px;
  height: 600px;
}

.row {
  display: flex;
  width: 100%;
  cursor: pointer;
}
h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
}
